*{
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    position: fixed;
    height: 80px;
    width: 100%;
    background: #222;
    color: #eee;
    display: flex;
}

.logo{
    padding: 10px 80px;
    font-size: 36px;
    transition: color 0.2s ease-in-out;
}

.nav-list{
    width: 80%;
    min-width: 800px;
    justify-content: space-around;
    align-content: center;
    height: 100%;
    list-style-type: none;
    margin: auto;
    font-size: 14px;
}

.nav-list li{
    min-width: 150px;
    text-align: center;
    margin: auto;
    transition: color 0.2s ease-in-out;
}

.nav-list li:hover,
.logo:hover{
    cursor: pointer;
    color: #909ea1;
}