<nav>
  <div class="logo">
    <h3>spotDeez</h3>
  </div>
  <ul class="flex nav-list">
    <li class="flex">
      <a>Convert Playlists</a>
    </li>
    <li class="flex">
      <a>Convert Album</a>
    </li>
    <li class="flex">
      <a>Github</a>
    </li>
    <li class="flex">
      <a>FAQ</a>
    </li>
  </ul>
</nav>
