/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-content: center;
}

.vert {
    flex-direction: column;
}

.easy{
    transition: ease-in-out 0.2s;
}

.unsplash{
    background-image: url("assets/img/bkg-blu.jpg");
    background-size: cover;
}